h1 {
  font-size: 90px;
}

p {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
  margin-left: 0px;
}
ul {
  padding: 0 !important;
}

.temp {
  text-decoration: none;
  color: black;
  font-family: "Yeseva One", cursive;
}

.container {
  display: block;
  margin: 0 auto;
  border: 2px solid black;
  padding: 30px;
  box-shadow: 10px 5px 5px gray;
  max-width: 600px;
  border-radius: 10px;
}
.weekday {
  text-align: center;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 90px;
  font-family: "Yeseva One", cursive;
}
.units {
  position: relative;
  top: -34px;
  font-size: 40px;
}

small {
  font-size: 80%;
  font-weight: 400;
}
